@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    string emailToAddress = Model.MacroParameters["emailToAddress"] != null ? (string)Model.MacroParameters["emailToAddress"] : "";
    var emailSubject = Model.MacroParameters["emailSubject"] != null ? (string)Model.MacroParameters["emailSubject"] : "";

}

@if (string.IsNullOrEmpty(emailToAddress) || string.IsNullOrEmpty(emailSubject))
{
    <p class="alert-error">Please setup email address and/or email subject</p>
}
else
{
    await Html.RenderPartialAsync("~/Views/Partials/ContactForm/Index.cshtml", new Miflun.SimpleContactForm.Models.ContactFormModel() {
                EmailToAddress = emailToAddress,
                EmailSubject = emailSubject,
                Email = string.Empty,
                Message = string.Empty,
                Name = string.Empty});
}